body{
    background-image: url("foto2.jpg");
    
    
    
}
h1{
    text-align: center;
    font-size: 40px;
}
p{
    font-size: 20px;
}

.contenedor{
    background-image: url("foto2.jpg");
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 50px;
    width: 70%;
    margin-left: 100px;
    
    
    
    

}
.c1{
    grid-column: 1/6  ;
    background-color: green;
    text-align: center;
    font-size: 30px;

    

}
.c2{
    background-color: black;
    color: wheat;
}
.c3{
    background-color:teal;
}
.c4{
    background-color: blue;
}
.c5{
    background-color:navy;
}
.c6{
    background-color: lime;
}
.c7{
    background-color: white;
}
.c8{
    background-color: purple;
}
.c9{
    background-color:yellow;
}
.c10{
    background-color: olive;
}
.c11{
    background-color: red;
}
.c12{
    background-color: maroon;
}
.c13{
    background-color: gray;
}
.c14{
    background-color:fuchsia;
}
.c15{
    grid-column: 4/6;
    background-color: green;

}
.texto{
    display:flex;
    flex-flow: row wrap;
    margin: auto;
    width: auto;
    gap: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.t1{
    color: black;
    font-size: 40px;

}
.t2{
    color: teal ;
    font-size: 40px;
}
.t3{
    color: blue;
    font-size: 40px;

}
.t4{
    color: navy;
    font-size: 40px;

}
.t5{
    color: lime;
    font-size: 40px;
}
.t6{
    color: white;
    font-size: 40px;
}
.t7{
    color: purple;
    font-size: 40px;
}
.t8{
    color: yellow;
    font-size: 40px;

}
.t9{
    color: olive;
    font-size: 40px;
}
.t10{
    color:maroon;
    font-size: 40px;
}
.t11{
color: gray;
font-size: 40px;
}
.t12{
    color:fuchsia;
    font-size: 40px;
}
.t13{
    color:green ;
    font-size: 40px;
}
.t14{
    color: aqua;
    font-size: 40px;
}
.t15{
    color: silver;
    font-size: 40px;
}



